doctype html
html
    head
        link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js",integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js",integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",crossorigin="anonymous")
        title Opinions - #{config.name}
        meta(name='description', content='Give anonymous messages about ' + config.name + ', free of charge')
        meta(name='og:description', content='Give anonymous messages about ' + config.name + ', free of charge')
        meta(property='og:site_name' content='Opinions')
        meta(property='og:title', content=config.name)
    body
        center
            br
            br
            img.rounded-circle(src="/logo.png", height="100px")
            h1 #{config.name}
            h2.text-muted #{config.bio}
            br
            .container
                form(method='post', action='/submit')
                    .mb-3
                        label(for="text") What do you want to say?
                        textarea.form-control#text(placeholder="I think you're amazing!", required="required", name="msg")
                        br
                        p.text-muted What kind of feedback is this?
                        .form-check
                            input.form-check-input#msg(type="radio", value="msg", name="type")
                            label.form-check-label(for="msg") Anonymous Message  
                        .form-check
                            input.form-check-input#ques(type="radio", checked="checked", value="ques", name="type")
                            label.form-check-label(for="ques") Question
                    .col-6   
                        input.btn.btn-primary(value="Submit!", type="submit")
            br
            .container            
                hr  
                p.text-muted Here are some things people have been asking #{config.name}...        
                each ques in questions
                    .row.justify-content-md-center
                        .card(style='width: 80%')
                            .card-body
                                h5.card-title #{ques.body}
                                p.card-text 
                                    b
                                        i #{config.name} writes:  
                                    | #{ques.answer}
                    br